<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_SECRET" value="$APP_SECRET"/>
        <env name="DATABASE_URL" value="$DATABASE_URL"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory="var/coverage/html"/>
            <text outputFile="var/coverage/coverage.txt"/>
            <clover outputFile="var/coverage/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
