services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    # Phoenix API Service Configuration
    App\Service\PhoenixApiService:
        arguments:
            $baseUrl: '%env(PHOENIX_API_BASE_URL)%'
